extends default



block content
    div.container
        h2 #{title}
        if sessions.length !== 0
            form(action=action, method="POST")
                div.form-group
                    label(for="firstname") Firstname :
                    input.form-control(type="text" id="firstname" name="firstname" placeholder="Your firstname" required)
                div.form-group
                    label(for="lastname") Lastname :
                    input.form-control(type="text" id="lastname" name="lastname" placeholder="Your lastname" required)
                div.form-group
                    label(for="email") Email :
                    input.form-control(type="email" id="email" name="email" placeholder="Your email" required)
                div.form-group
                    label(for="session") Session :
                    select.form-control(id="session" name="sessionId" required)
                        each session in sessions
                            option(value=session.id) #{session.id}
                button.btn.btn-primary(type="submit") Create Player
        else
            p Theres no session yet, please <a href="/sessions/create">create a session</a> before you add a player.

        if apiResponse.length > 0
            if apiResponse[0].error === undefined
                h4 Success :
                p(style="color: green;") Player succefully added with id #{apiResponse[0].id}.
                p(style="color: green;")
                    =JSON.stringify(apiResponse[0])

            else
                h4 Error :
                p(style="color: red;") #{apiResponse[0].error.message}.
                p(style="color: red;")
                    =JSON.stringify(apiResponse[0].error)

