extends default



block content
    - var container = (ratings.length !== 0) ? 'container-fluid' : 'container';
    div(class=container)
        h2 #{title}
        if ratings.length !== 0
            input.form-control.filter-table(type="text" placeholder="Type a rate to filter with...")
            table.table.table-dark
                thead
                    tr
                        each header in ['ID', 'Score', 'Session ID', 'Player ID']
                            th #{header}
                tbody
                        each rating in ratings
                            tr
                                td #{rating.id}
                                td - #{rating.score} -
                                td
                                    a(href="/sessions/" + rating.sessionId) #{rating.sessionId}
                                td
                                    a(href="/players/" + rating.playerId) #{rating.playerId}
        else
            p Theres no rating yet, please <a href="/ratings/create">create a rating</a> before you can list them.